
h1{ COLOR:blue;}

a{ color: yellow;}
a{background-color: green;}
a{text-decoration: none;}
/* chato pra krl colorir isso*/


.p { color:blue;
     background-color: rgb(241, 133, 10);
     font-size: 30px;} 
    
     .b {font-size: 20px;
    font-family:cursive;}
    /*outro inferno de fazer*/

    h3 { font-size: 25px;}